/* EXPENSES LIST */

.expenses-list {
	margin-top: 20px;
	color: #555;
}

.expenses-list .expenses-list-item {
	padding: 10px 20px;
	margin-bottom: 12px;
	position: relative;
	border: 1px solid #555;
	background-color: #fff;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
}

.expenses-list .expense-date,
.expenses-list .expense-value,
.expenses-list .expense-category,
.expenses-list .expense-description {
	display: flex;
}

.expenses-list .expense-date,
.expenses-list .expense-value,
.expenses-list .expense-category:not(:last-child) {
	margin-bottom: 5px;
}

.expenses-list .expenses-list-item .title {
	width: 100px;
}

.expenses-list .expenses-list-item .value {
	width: 450px;
}

.expenses-list .remove-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 16px;
	text-decoration: none;
	padding: 0 5px;
	color: #fff;
	background-color: #140ff0;
	border: 2px solid transparent;
	border-radius: 4px;
	transition: all 0.3s;
}

.expenses-list .remove-btn:hover {
	border-color: #140ff0;
	color: #140ff0;
	background-color: #fff;
}

/* EXPENSES PAGINATION */

.pagination-control {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 10px 0;
	display: flex;
	font-size: 14px;
	height: 16px;
	line-height: 16px;
}

.pagination-control .pagination-control-item {
	width: 25%;
}

.pagination-control a {
	text-decoration: none;
	font-style: italic;
	color: #000;
}

.pagination-control a:hover {
	color: #140ff0;
}

/* REMOVAL CONFIRMATION MODAL */

.modal-cnt {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 50px 20px;
	background-color: #fff;
	border: 1px solid #000;
	text-align: center;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
}

.modal-cnt .remove-btn {
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 20px;
	color: #fff;
	background-color: #140ff0;
	border: 2px solid transparent;
	border-radius: 4px;
	transition: all 0.3s;
}

.modal-cnt .remove-btn:hover {
	border-color: #140ff0;
	color: #140ff0;
	background-color: #fff;
}

.modal-cnt .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 16px;
	text-decoration: none;
	padding: 0 5px;
	color: #fff;
	background-color: #f00;
	border: 2px solid transparent;
	border-radius: 4px;
	transition: all 0.3s;
}

.modal-cnt .close-btn:hover {
	background-color: #c00;
}