*, *::before, *::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	/*background-color: #bbfcff;*/
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url('../img/trees.png');
}

.container {
	width: 930px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 50px 15px;
	background-color: #fff;
	border-left: 1px solid #555;
	border-right: 1px solid #555;
	position: relative;
	display: flex;
}

/* PAGE HEADER */

.page-header {
	position: absolute;
	top: 0;
	width: calc(100% - 30px);
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.logout-form {
	margin-left: 20px;
}

.logout-form .submit-btn {
	padding: 5px 20px;
	background-color: transparent;
	border: 2px solid #000;
	transition: all 0.3s;
}

.logout-form .submit-btn:hover {
	border-color: #f00;
	color: #f00;
}

/* SIDEBAR */

.sidebar {
	width: 300px;
	padding-right: 20px;
}

/* MAIN CONTENT */

.main-content {
	width: 600px;
}

/* PAGE FOOTER */

.page-footer {
	position: absolute;
	bottom: 0;
	width: calc(100% - 30px);
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* EXPENSE SEARCH FORM */

.search-form-header {
	margin: 0 0 15px;
	font-size: 22px;
	font-weight: normal;
}

.search-form {

}

.search-form .form-group {
	margin-bottom: 15px;
}

.search-form label {
	display: block;
	margin-bottom: 8px;
}

.search-form input,
.search-form select {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.3);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.search-form input.error,
.search-form select.error {
	border-color: rgba(255,0,0,1);
}

.search-form input:focus,
.search-form select:focus {
	box-shadow: inset 0 0 1px rgba(0,0,0,.3);
}

.search-form .submit-btn {
	display: block;
	padding: 5px 20px;
	margin: 0 auto;
	background-color: transparent;
	border: 2px solid #000;
	transition: all 0.3s;
}

.search-form .submit-btn:hover {
	border-color: #00d000;
	color: #00d000;
}

.search-form div.error {
	width: 100%;
}

.search-form div.error p {
	margin: 8px 0 -8px;
	color: #f00;
	font-style: italic;
}

/* EXPENSE REPORT FORM */

.report-form-header {
	margin: 40px 0 15px;
	font-size: 22px;
	font-weight: normal;
}

.report-form {

}

.report-form .form-group {
	margin-bottom: 15px;
}

.report-form label {
	display: block;
	margin-bottom: 8px;
}

.report-form input,
.report-form select {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.3);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.report-form input.error,
.report-form select.error {
	border-color: rgba(255,0,0,1);
}

.report-form input:focus,
.report-form select:focus {
	box-shadow: inset 0 0 1px rgba(0,0,0,.3);
}

.report-form .submit-btn {
	display: block;
	padding: 5px 20px;
	background-color: transparent;
	border: 2px solid #000;
	margin: 0 auto;
	transition: all 0.3s;
}

.report-form .submit-btn:hover {
	border-color: #00d000;
	color: #00d000;
}

.report-form div.error {
	width: 100%;
}

.report-form div.error p {
	margin: 8px 0 -8px;
	color: #f00;
	font-style: italic;
}

/* EXPENSE CREATE FORM */

.create-form-header {
	margin: 0 0 15px;
	font-size: 22px;
	font-weight: normal;
}

.expense-form {
	margin: 0 auto;
	padding: 20px;
	border: 2px solid #000;
}

.expense-form .form-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 15px;
}

.expense-form .form-group:last-of-type {
	margin-bottom: 0;
}

.expense-form label {
	display: block;
	width: 25%;
}

.expense-form input,
.expense-form select,
.expense-form textarea {
	display: block;
	width: 75%;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.3);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.expense-form input.error,
.expense-form select.error,
.expense-form textarea.error {
	border-color: rgba(255,0,0,1);
}

.expense-form input:focus,
.expense-form select:focus,
.expense-form textarea:focus {
	box-shadow: inset 0 0 1px rgba(0,0,0,.3);
}

.expense-form .submit-btn {
	padding: 5px 20px;
	background-color: transparent;
	border: 2px solid #000;
	margin: 0 auto;
	transition: all 0.3s;
}

.expense-form .submit-btn:hover {
	border-color: #00d000;
	color: #00d000;
}

.expense-form div.error {
	width: 100%;
	padding-left: 25%;
}

.expense-form div.error p {
	margin: 8px 0 -8px;
	color: #f00;
	font-style: italic;
}