.register-form {
	width: 300px;
	margin: 100px auto;
	padding: 20px;
	border: 1px solid #000;
	background-color: #fff;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.register-form .form-group {
	text-align: center;
	margin-bottom: 15px;
}

.register-form label {
	display: block;
	margin-bottom: 8px;
}

.register-form input {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.register-form input.error {
	border-color: rgba(255,0,0);
}

.register-form input:focus {
	box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	border: 1px solid #00d4ff;
}

.register-form .submit-btn {
	padding: 5px 20px;
	color: #fff;
	background-color: #140ff0;
	border: 2px solid transparent;
	border-radius: 4px;
	transition: all 0.3s;
}

.register-form .submit-btn:hover {
	border-color: #140ff0;
	color: #140ff0;
	background-color: #fff;
}

.register-form div.error p {
	margin: 8px 0;
	color: #f00;
	font-style: italic;
}

.register-form .login-link {
	margin: 0;
	text-align: center;
}

.register-form .login-link a {
	text-decoration: none;
	color: #140ff0;
	transition: all 0.3s;
}

.register-form .alert-error {
	color: #f00;
}

.register-form .alert-success {
	color: #05af05;
}