.expense-report {
	position: relative;
	margin-top: 40px;
	border: 1px solid #000;
	background-color: #fff;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.75);
	padding: 20px;
}

.report-header {
	margin: 0 0 10px;
	font-size: 22px;
	font-weight: normal;
}

.report-dates {
	font-style: italic;
}

.report-print {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;
	text-decoration: none;
	padding: 5px 20px;
	color: #fff;
	background-color: #140ff0;
	border: 2px solid transparent;
	border-radius: 4px;
	transition: all 0.3s;
}

.report-print:hover {
	border-color: #140ff0;
	color: #140ff0;
	background-color: #fff;
}

.report-content {
	margin-top: 10px;
}

.report-content p {
	padding: 5px 0;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.report-content p:nth-of-type(2n) {
	background-color: #d7deeb;
}

.report-details,
.report-general {
	border-top: 1px solid #000;
	padding: 5px 0;
}

.report-details-title {
	margin: 5px 0;
	font-size: 18px;
	font-weight: normal;
}

.report-details ul {
	margin: 0;
	padding: 0;
}

.report-details-row {
	padding: 5px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.report-details-row:nth-of-type(2n) {
	background-color: #d7deeb;
}