.reset-form {
	width: 300px;
	margin: 50px auto;
	padding: 20px;
	border: 2px solid #000;
	background-color: #fff;
}

.reset-form .form-group {
	text-align: center;
	margin-bottom: 15px;
}

.reset-form label {
	display: block;
	margin-bottom: 8px;
}

.reset-form input {
	display: block;
	width: 100%;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.3);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.reset-form input.error {
	border-color: rgba(255,0,0);
}

.reset-form input:focus {
	box-shadow: inset 0 0 1px rgba(0,0,0,.3);
}

.reset-form .submit-btn {
	padding: 5px 20px;
	background-color: transparent;
	border: 2px solid #000;
	transition: all 0.3s;
}

.reset-form .submit-btn:hover {
	border-color: #00d000;
	color: #00d000;
}

.reset-form div.error p {
	margin: 8px 0;
	color: #f00;
	font-style: italic;
}

.reset-form .alert-error {
	color: #f00;
}

.reset-form .alert-success {
	color: #05af05;
}

.reset-form .login-link,
.reset-form .register-link {
	margin: 0;
	text-align: center;
}

.reset-form .login-link {
	margin-bottom: 10px;
}

.reset-form .login-link a,
.reset-form .register-link a {
	text-decoration: none;
	color: #140ff0;
}