<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout (~{::body})}">
<body>
	<div class="expenses-list">
		<ul class="pagination-control" th:if="${pageCount > 1}" th:with="query=${expenseFilterQuery}">
			<li class="pagination-control-item">
				<a href="#" th:if="${currentPage > 0}" th:href="@{/expenses/show(searchStartDate=${query.searchStartDate},searchEndDate=${query.searchEndDate},searchCategoryId=${query.searchCategoryId},minValue=${query.minValue},maxValue=${query.maxValue},page=0)}"> &lt;&lt; First page</a>
			</li>
			<li class="pagination-control-item">
				<a href="#" th:if="${currentPage > 0}" th:href="@{/expenses/show(searchStartDate=${query.searchStartDate},searchEndDate=${query.searchEndDate},searchCategoryId=${query.searchCategoryId},minValue=${query.minValue},maxValue=${query.maxValue},page=${currentPage - 1})}">&lt; Previous page</a>
			</li>
			<li class="pagination-control-item">
				<a href="#" th:if="${currentPage < pageCount - 1}" th:href="@{/expenses/show(searchStartDate=${query.searchStartDate},searchEndDate=${query.searchEndDate},searchCategoryId=${query.searchCategoryId},minValue=${query.minValue},maxValue=${query.maxValue},page=${currentPage + 1})}">Next page &gt;</a>
			</li>
			<li class="pagination-control-item">
				<a href="#" th:if="${currentPage < pageCount - 1}" th:href="@{/expenses/show(searchStartDate=${query.searchStartDate},searchEndDate=${query.searchEndDate},searchCategoryId=${query.searchCategoryId},minValue=${query.minValue},maxValue=${query.maxValue},page=${pageCount - 1})}">Last page  &gt;&gt;</a>
			</li>				
		</ul>
		<div class="expenses-list-item" th:each="expense : ${expensesList}">
			<div class="expense-date">
				<span class="title">Date:</span>
				<span class="value" th:text="${#temporals.format(expense.date, 'dd-MM-yyyy')}">18-07-2019</span>
			</div>
			<div class="expense-value">
				<span class="title">Value:</span>
				<span class="value" th:text="${expense.value}">345.21$</span>
			</div>
			<div class="expense-category">
				<span class="title">Category:</span>
				<span class="value" th:text="${expense.category.name}">sport</span>
			</div>
			<div class="expense-description" th:if="${expense.description != null}">
				<span class="title">Description:</span>
				<span class="value" th:text="${expense.description}">Definitely too much money!</span>
			</div>
			<a class="remove-btn" href="#" th:href="@{|/expenses/delete/${expense.id}|}">Remove</a>
		</div>
		<ul class="pagination-control" th:if="${pageCount > 1 && !#lists.isEmpty(expensesList)}" th:with="query=${expenseFilterQuery}">
			<li class="pagination-control-item">
				<a href="#" th:if="${currentPage > 0}" th:href="@{/expenses/show(searchStartDate=${query.searchStartDate},searchEndDate=${query.searchEndDate},searchCategoryId=${query.searchCategoryId},minValue=${query.minValue},maxValue=${query.maxValue},page=0)}"> &lt;&lt; First page</a>
			</li>
			<li class="pagination-control-item">
				<a href="#" th:if="${currentPage > 0}" th:href="@{/expenses/show(searchStartDate=${query.searchStartDate},searchEndDate=${query.searchEndDate},searchCategoryId=${query.searchCategoryId},minValue=${query.minValue},maxValue=${query.maxValue},page=${currentPage - 1})}">&lt; Previous page</a>
			</li>
			<li class="pagination-control-item">
				<a href="#" th:if="${currentPage < pageCount - 1}" th:href="@{/expenses/show(searchStartDate=${query.searchStartDate},searchEndDate=${query.searchEndDate},searchCategoryId=${query.searchCategoryId},minValue=${query.minValue},maxValue=${query.maxValue},page=${currentPage + 1})}">Next page &gt;</a>
			</li>
			<li class="pagination-control-item">
				<a href="#" th:if="${currentPage < pageCount - 1}" th:href="@{/expenses/show(searchStartDate=${query.searchStartDate},searchEndDate=${query.searchEndDate},searchCategoryId=${query.searchCategoryId},minValue=${query.minValue},maxValue=${query.maxValue},page=${pageCount - 1})}">Last page  &gt;&gt;</a>
			</li>		
		</ul>
	</div>
</body>
</html>