<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Expense Manager</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
	<link rel="stylesheet" href="../static/css/expenses.css" th:href="@{/css/expenses.css}">
</head>
<body>
	<div class="container">
		<header class="page-header">
			<div class="user-info" sec:authorize="isAuthenticated()">
				Logged in as <span sec:authentication="principal.username">User</span>
			</div>
			<form class="logout-form" action="#" th:action="@{/perform-logout}" method="post">
				<button class="submit-btn" type="submit">Log out</button>
			</form>
		</header>
		<main class="main-content">
			<form class="expense-form" action="#" th:action="@{/expenses}" th:object="${expenseCommand}" method="post">
				<div class="form-group">
					<label for="date">Date*</label>
					<input th:field="*{date}" type="text" placeholder="YYYY-MM-DD" required th:errorclass="error">
					<div class="error" th:if="${#fields.hasErrors('date')}">
						<p th:each="err : ${#fields.errors('date')}" th:text="${err}">Error message</p>
					</div>
				</div>
				<div class="form-group">
					<label for="value">Value*</label>
					<input th:field="*{value}" type="text" required th:errorclass="error">
					<div class="error" th:if="${#fields.hasErrors('value')}">
						<p th:each="err : ${#fields.errors('value')}" th:text="${err}">Error message</p>
					</div>
				</div>
				<div class="form-group">
					<label for="categoryId">Category*</label>
					<select th:field="*{categoryId}" required th:errorclass="error">
						<option value="">-- Choose category --</option>
						<option th:each="category : ${expenseCategories}" th:value="${category.id}" th:text="${category.name}">Category</option>
					</select>
					<div class="error" th:if="${#fields.hasErrors('categoryId')}">
						<p th:each="err : ${#fields.errors('categoryId')}" th:text="${err}">Error message</p>
					</div>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea th:field="*{description}" th:errorclass="error"></textarea>
					<div class="error" th:if="${#fields.hasErrors('description')}">
						<p th:each="err : ${#fields.errors('description')}" th:text="${err}">Error message</p>
					</div>
				</div>
				<div class="form-group">
					<button class="submit-btn" type="submit">Create new expense</button>
				</div>
			</form>
			<div class="expenses-list">
				<ul class="pagination-control" th:if="${pageCount > 1}">
					<li class="pagination-control-item">
						<a href="#" th:if="${currentPage > 0}" th:href="@{/expenses}"> &lt;&lt; First page</a>
					</li>
					<li class="pagination-control-item">
						<a href="#" th:if="${currentPage > 0}" th:href="@{/expenses(page=${currentPage - 1},size=15)}">&lt; Previous page</a>
					</li>
					<li class="pagination-control-item">
						<a href="#" th:if="${currentPage < pageCount - 1}" th:href="@{/expenses(page=${currentPage + 1},size=15)}">Next page &gt;</a>
					</li>
					<li class="pagination-control-item">
						<a href="#" th:if="${currentPage < pageCount - 1}" th:href="@{/expenses(page=${pageCount - 1},size=15)}">Last page  &gt;&gt;</a>
					</li>				
				</ul>
				<div class="expenses-list-item" th:each="expense : ${expensesList}">
					<div class="expense-date">
						<span class="title">Date:</span>
						<span class="value" th:text="${expense.date}">18-07-2019</span>
					</div>
					<div class="expense-value">
						<span class="title">Value:</span>
						<span class="value" th:text="${expense.value}">345.21$</span>
					</div>
					<div class="expense-category">
						<span class="title">Category:</span>
						<span class="value" th:text="${expense.category.name}">sport</span>
					</div>
					<div class="expense-description" th:if="${expense.description != null}">
						<span class="title">Description:</span>
						<span class="value" th:text="${expense.description}">Definitely too much money!</span>
					</div>
					<a class="remove-btn" href="#">Remove</a>
				</div>
				<ul class="pagination-control" th:if="${pageCount > 1}">
					<li class="pagination-control-item">
						<a href="#" th:if="${currentPage > 0}" th:href="@{/expenses}"> &lt;&lt; First page</a>
					</li>
					<li class="pagination-control-item">
						<a href="#" th:if="${currentPage > 0}" th:href="@{/expenses(page=${currentPage - 1},size=15)}">&lt; Previous page</a>
					</li>
					<li class="pagination-control-item">
						<a href="#" th:if="${currentPage < pageCount - 1}" th:href="@{/expenses(page=${currentPage + 1},size=15)}">Next page &gt;</a>
					</li>
					<li class="pagination-control-item">
						<a href="#" th:if="${currentPage < pageCount - 1}" th:href="@{/expenses(page=${pageCount - 1},size=15)}">Last page  &gt;&gt;</a>
					</li>				
				</ul>
			</div>
		</main>
		<footer class="page-footer">
			<p>Expense Manager 2019</p>
		</footer>
	</div>
</body>
</html>