<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
		* {
			box-sizing: border-box;
		}
	
		body {
			text-align: center;
		}
	
		a.reset-link {
			display: inline-block;
			padding: 5px 20px;
			margin: 0 auto;
			background-color: #140ff0;
			color: #fff;
			text-decoration: none;
			border: 2px solid transparent;
			border-radius: 4px;
			transition: all 0.3s;
		}
		
		a.reset-link:hover {
			background-color: #fff;
			color: #140ff0;
			border: 2px solid #140ff0;
		}
	</style>
</head>
<body>
	<p>
		In order to reset your password click the following link:
	</p>
	<a class="reset-link" th:href="${link}" target="_blank">Reset your password</a>	
</body>
</html>